#olwiz {
  counter-reset: wizard-steps;
  font-size: 0;
  list-style-type: none;
  list-style-position: outside;
}
#olwiz h4 {
  margin: 0;
}
#olwiz li {
  float: left;
  width: 100%;
  font-size: 19px;
  padding-left: 37px;
  padding-bottom: 40px;
}
#olwiz li:last-child {
  border-left: 3px solid white !important;
}
#olwiz li .olwiz-title {
  position: relative;
  padding-top: 2px;
}
#olwiz li .olwiz-content {
  margin-top: 30px;
  margin-left: 20px;
}
#olwiz li .fa-check,
#olwiz li .fa-times {
  color: white;
  position: relative;
  top: -1px;
}
#olwiz li:not(.olwiz-passed):not(.olwiz-failed) {
  border-left: 3px solid #eeeeee;
}
#olwiz li:not(.olwiz-passed):not(.olwiz-failed) .olwiz-bullet {
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}
#olwiz li:not(.olwiz-passed):not(.olwiz-failed) .olwiz-bullet .fa-check,
#olwiz li:not(.olwiz-passed):not(.olwiz-failed) .olwiz-bullet .fa-times {
  display: none;
}
#olwiz li .olwiz-bullet {
  border-radius: 35px;
  height: 30px;
  width: 35px;
  text-align: center;
  position: absolute;
  top: -8px;
  left: -59px;
  padding-top: 6px;
}
#olwiz li .olwiz-bullet:after {
  counter-increment: wizard-steps;
  font-size: 120%;
  font-weight: 200;
  color: #979797;
  content: counter(wizard-steps);
}
#olwiz li.olwiz-active .olwiz-bullet {
  border-color: limegreen !important;
  background-color: white !important;
}
#olwiz li.olwiz-passed {
  border-left: 3px solid limegreen;
}
#olwiz li.olwiz-passed .olwiz-bullet {
  background-color: limegreen;
  border: 3px solid limegreen;
}
#olwiz li.olwiz-passed .olwiz-bullet:after {
  visibility: hidden;
}
#olwiz li.olwiz-passed .olwiz-bullet .fa-check {
  display: block;
}
#olwiz li.olwiz-passed .olwiz-bullet .fa-times {
  display: none;
}
#olwiz li.olwiz-failed {
  border-left: 3px solid tomato;
}
#olwiz li.olwiz-failed .olwiz-bullet {
  background-color: tomato;
  border: 3px solid tomato;
}
#olwiz li.olwiz-failed .olwiz-bullet:after {
  visibility: hidden;
}
#olwiz li.olwiz-failed .olwiz-bullet .fa-check {
  display: none;
}
#olwiz li.olwiz-failed .olwiz-bullet .fa-times {
  display: block;
}
